if TARGET_BST_A1000B

config SYS_BOARD
	default "a1000b"

config SYS_VENDOR
	default "bst"

config SYS_SOC
	default "a1000b"

config SYS_CONFIG_NAME
	default "bsta1000b"

source "board/bst/common/Kconfig"

endif

config BST_BURN_TOOLS
	bool "A1000B BURN Tools"
	default n
	select BSTDDR4_USEDTS
	help
		This option is used by the burning tool for
		the first time to burn the u-boot-full.img.
